[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GISTools"]
	path = GISTools
	url = https://github.com/cran/GISTools
[submodule "GWmodel"]
	path = GWmodel
	url = https://github.com/cran/GWmodel
[submodule "shp2graph"]
	path = shp2graph
	url = https://github.com/cran/shp2graph
